<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <data>

    <menuitem id="menu_mdx_audit_root"
          name="Audit"
          parent="base.menu_administration"
          sequence="900"
          groups="mdx_audit_lockdown.group_audit_admin,mdx_audit_lockdown.group_audit_viewer"/>

    <menuitem id="menu_mdx_audit_logs"
          name="Audit Logs"
          parent="menu_mdx_audit_root"
          action="mdx_audit_lockdown.action_mdx_audit_log_open"
          sequence="10"
          groups="mdx_audit_lockdown.group_audit_admin,mdx_audit_lockdown.group_audit_viewer"/>

    <menuitem id="menu_mdx_audit_rules"
          name="Audit Rules"
          parent="menu_mdx_audit_root"
          action="mdx_audit_lockdown.action_mdx_audit_rule"
          sequence="20"
          groups="mdx_audit_lockdown.group_audit_admin"/>

  </data>
</odoo>